@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.parrafoinicio {
  height: 250;
  width: 20;
  border: 3px;
  text-align: center;
  color: black;
  line-height: 1.3em;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(images/liencres-baja.jpg);
}

header {
  width: 100%;
  padding: 40px;
  text-align: center;
}

footer {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: black;
  background-color: bisque;
  font-family: 'Roboto', sans-serif;
}

.slide {
  margin-top: 10px;
  height: 65vh;
}

h3{
  align-items: center;
  padding: 5px;
  display: flex;
  justify-content: center;
}

p {
  font-size: larger;
  justify-content: center;
  display: flex;
  padding: 5%;
}

.row {
  color: rgb(97, 97, 10);
}
.sobremi {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  color:black;
}
.iggypop {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animacionlogo:hover{
  transform: scale(1.5 , 1.2);